@font-face {
  font-family: 'Submenu-Font';
  src: url(../font/GothicA1-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'title-video';
  src: url(../font/test-tiempos-headline-regular.woff2) format('woff2');
}


body {
  font-family: 'Playfair Display', serif;
}

.navigation-bar {
  background-color: #fff;
  -webkit-box-shadow: 0 5px 2px -2px rgba(0,0,0,.1);
  box-shadow: 0 5px 2px -2px rgba(0,0,0,.1);
  left: 0;
  /* position: -webkit-sticky; */
  position: sticky;
  right: 0;
  top: 0;
  -webkit-transition: top .4s;
  -o-transition: top .4s;
  transition: top .4s;
  z-index: 90;
  margin-left: -16px;
}

.navbar-container {
  padding: 0 20px;
  position: relative;
  margin: auto;
  width: 1360px;
  margin: auto;
  height: 72px;
}

.navigation-menu {
  display: flex;
  height: 100%;
  justify-content: flex-start;
  width: 100%;
}

.nav-logo{
 display: flex;
 align-items: center;
 margin: 0 22px 0 0 ;
}

.logo-img{
  box-sizing:content-box;
  width: 116px;
  height: 42px;
}

.navigation-menu {
  display: flex;
 
}

.navigation-links {
display: flex;
justify-content: space-evenly;
align-items: center;
}

.navigation_spacer {
  flex-grow: 1;
  flex-shrink: 1;
}

.nav-menu-link {
  display: inline-block;
  margin: 0 22px;
  white-space: nowrap;
  
}
.nav-menu-link-text{
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.icon-navbar-app{
  width: 24px;
  height: 24px;
}
.icon-navbar-search{
  width: 19px;
  height: 19px;
}
.icon-navbar-notif{
  width: 20px;
  height: 20px;
}
.navigation-separator{
  border-left: 1px solid;
  height: 24px;
  margin: auto 0 auto 40px;
  width: 56px;
}
.navigation-notifications{
  display: flex;
  align-items: center;
}
.nagivation-button-text{
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  padding-right: 4px;
}

.hulu-logo {
  width: 33px;
}

.nav-menu-link{
  display: flex;
}

.button-navbar{
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #f4f4f4;
  border: 2px solid #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  min-height: 32px;
  padding: 8px 16px;
}

.subNav-container{
  border-top: 1px solid #cecfcf;
  
}

.subNavigation-menu{
  display: block;
  width: 1360px;
  margin: auto;
  position: relative;
}
.subMenu{
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 48px;
    position: relative;
    width: 100%;
}
.subMenu-links-div{
  flex-shrink: 0;
  position: relative;
}
.subMenu-links{
  color: #000;
  font-family: 'Submenu-Font',sans-serif,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,Ubuntu,roboto,noto,segoe ui,arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  margin-right: 40px;
}

.footer-main{
  font-size: 12px;
  font-weight: 300;
  margin: 0 auto 10px;
  max-width: 1360px;
  
  padding: 20px;
}

.back-to-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 13px;
  width: 100%;
  height: 91.8px;
  border-bottom: 1px solid #f2f2f2;
}

.logo-footer{
  width: 116px;
  height: 46px;
  margin: 0 22px 0 0;
}

.back-to-top-text{
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.row-section{
  display: flex;
  width: 100%;
}

.quadraColumn{
  margin-right: 10px;
  width: 25%;
}

.title-footer{
  height: 19.6px;
  padding-bottom: 13px;
}

.title-footer-text{
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.link-footer{
  height: 19px;
  padding-bottom: 13px;
}

.link-footer-text{
  color: #000;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  padding: 0; 
  margin: 5px 0;
  text-decoration: none;
}

.copyright-footer{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #f2f2f2;
  color: #999;
  line-height: 1.75;
  margin: 0;
  text-align: center;
  width: 100%;
}

.copyright-footer-text{
  color: #999;
  line-height: 1.75;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.block-container{
  max-width: 1380px;
  padding: 20px 10px 0;
  display: flex;
  height: auto;
  margin: auto;
  width: 100%;
  margin-bottom: 20px;
}

.single-block-container{
  border-right: 1px solid #e5e5e5;
  position: relative;
  width: 438.533px ;
  height: 509.85px;
  padding: 0 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.mini-block{
  height: 328.9px;
}

.content-block{
  background-color: transparent;
  background-image: linear-gradient(180deg,transparent,rgba(0,0,0,.9));
  bottom: 0;
  left: 0;
  line-height: 24px;
  padding-top: 6%;
  position: absolute;
  right: 0;
  z-index: 2; 
  width: 100%;
}

.icons-block{
  box-sizing: border-box;
}

.title-block{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  left: 10px;
  margin: 10px 20px 10px; 
}
.date-text{
  color: #777;
  font-family: SansSerifFont,sans-serif;
  font-size: 13px;
  margin: 0 20px 20px;
}

.links-block{
  display: flex;
  flex-direction: column;;
  line-height: 1.1;
  margin: 0 20px 20px;
}
.title-block-text{
  color: white;
  font-size: 24px;
  line-height: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.links-text-block{
  text-decoration: none;
}
.text-link{
  color: white;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0 0 12px;
}

.image-block{
  left: 50%;
min-height: 100%;
position: absolute;
right: auto;
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);
transform: translateX(-50%);
}

.icon-logo-img-photo{
  width: 32px;
  height: 32px;
  left: 10px;
  margin: 20px 20px 10px; 
}

.single-block-around{
  border-right: 1px solid #e5e5e5;
  padding:0 10px;
}
.links-block li{
  display: block;
  list-style: none;
  margin: 0;
  padding: 0 0 12px;
}
.links-block a::before{
  content: "+ ";
  float: left;
  height: 20px;
  padding-right: 15px;
  padding-top: 2px;
}
.credit{
  background-color: rgba(0,0,0,.3);
  bottom: 0;
  color: #fff;
  font-size: 8px;
  line-height: 1.25;
  opacity: .6;
  padding: 1px 2px 0;
  position: absolute;
  right: 0;
  text-align: right;
  z-index: 10000001;
}

.credit-text{
  color: #fff;
}

.triple-block-container{
  border-right: 1px solid #e5e5e5;
  position: relative;
  width: 1400px ;
  height: 552px;
  box-sizing: border-box;
  overflow: hidden;
}

.image-block-triple{
  bottom: auto;
  height: auto;
  min-width: 100%;
  position: relative;
  top: 50%;
}

.title-block-text-triple{
  color: white;
  font-size: 36px;
  line-height: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content-block-triple{
  background-color: transparent;
  background-image: linear-gradient(180deg,transparent,rgba(0,0,0,.9));
  bottom: 0;
  left: 0;
  line-height: 24px;
  padding-top: 6%;
  position: absolute;
  right: 0;
  z-index: 2; 
  width: 1380px;
}
.double-block-container{
  border-right: 1px solid #e5e5e5;
  position: relative;
  width: 900px ;
  height: 505px;
  box-sizing: border-box;
  overflow: hidden;
}

.image-block-double{
  bottom: auto;
height: auto;
min-width: 100%;
position: relative;
vertical-align: top;
width: 100%;
}

.title-block-text-double{
  color: white;
  font-size: 36px;
  line-height: 36px;
}
.no-border{
  border: none;
}

.space-block{
  padding-bottom: 20px;
}
.title-block-text-article{
  border-bottom: 0;
border-top: 1px solid #ccc;
padding: 20px 0 25px;
width: 100%;
}
.text-title-block{
  color: #555;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px; 
}
.title-articles{
  clear: both;
  padding: 10px 0;
  border-top: 1px dotted #dcdddf;
}

.title-text-article{
  color: #000;
  font-family: 'title-video',Georgia,Times New Roman,Times,serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  overflow: hidden;
}
.no-padding-right{
  padding-right: 0;
}
.larger460{
  width: 450px;
}

.margin-botton{
  padding-bottom: 20px;
}

.no-padding-left{
 
  padding-left: 0;
}

.container-video{
  width: 438.53px;
  height: 246.68px;
}
.image-block-container-video{
  height: 246.68px;
}

.content-block-video{
  margin-top: -100px;
}

.mini-block-video{
  height: 246.68px;
}

.icon-logo-img{
  width: 70px;
  height: 32px;
}

.icons-block-video{
  height: 50px;
}
.video-text{
font-size: 20px;
}

.title-articles-video{
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-top: 1px solid #e5e5e5;
}
.duration-text{
  color: #aaa;
font-size: 16px;
margin-left: 5px;
}
.higher-block{
  height: 570px;
  margin-bottom: 40px;
}

.duration-block{
  display: flex;
}
.play-video-button{
  width: 10px;
  height: 10px;
  padding-left: 5px;
}

.video-img{
  
  width: 100%;
  vertical-align: top;
  box-sizing: inherit;
}

.width-reduce{
  width: 386px;
}

.title-first-block{
  color: #000;
font-family: TiemposHeadline,Georgia,Times New Roman,Times,serif;
font-size: 24px;
font-weight: 400;
letter-spacing: 0;
line-height: 28px;
margin-bottom: 11px;
}

.width-max{
  width: 552px;
}
.first-container-block{
  display: flex;
  flex-direction: column;
}

.image-block-height-300{
  height: 300px;
  box-sizing: inherit;
  
}

.content-block-outside{
  display: flex;
  flex-direction: column;
}

.title-block-text-special{
  color: #000;
  font-family: 'title-video',Georgia,Times New Roman,Times,serif;
font-size: 24px;
font-weight: 400;
line-height: 28px;
margin-bottom: 11px;
margin-top: 11px;
max-width: 530px;
}

.text-link-special{
  color: #000;
font-family: TiemposHeadline,Georgia,Times New Roman,Times,serif;
font-size: 15px;
font-weight: 400;
letter-spacing: 0;
}

.p-text{
  font-weight: 400;
letter-spacing: 0;
line-height: 18px;
padding-bottom: 10px;
font-size: 14px;
height: auto;
color: #717171;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.first-block-special-spacing{
  margin: 0;
}

.padding-bottom10{
padding-bottom: 11px;;
}

.first-block-special-spacing a::before{
  content: "";
  float: none;
  height: 20px;
  padding-right: 0;
  padding-top: 2px;
}

.special-width{
  width: 420px;
}

.first-block-img{
  vertical-align: top;
width: 100%;
box-sizing: inherit;
}

.logo-text-div{
  display: flex;
  align-items: center;
  margin-top: 6px;
}
.logo-abc-live{
  width: 90px;
  height: 14px;
}

.text-abc-live{
  font-family: 'title-video',Georgia,Times New Roman,Times,serif;
  font-size: 11px;
  font-style: italic;
  padding-left: 5px;
}

.LiveVideo_Divider{
  border-left: 2px solid #0c1d4a;
border-radius: 0;
height: 20px;
margin-left: 5px;
padding-left: 5px;
}

.text-block-first-block{
  display: flex;
  flex-direction: column;
}
.on-live{
  color: red;
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 10px;  
  font-weight: 300;
}

.text-live{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 300;
  border-bottom: 1px solid #e5e5e5;
margin-bottom: 10px;
padding-bottom: 8px;
padding-top: 8px;
  
}
.text-hour-live{
  color: #656565;
font-size: 12px;
font-weight: 300;
letter-spacing: 0;
line-height: 18px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mini-div-text{
  color: #000;
  font-family: 'title-video',Georgia,Times New Roman,Times,serif;
font-size: 15px;
font-weight: 400;
line-height: 21px;
margin-bottom: 8px;
}

.block-text-video{
  display: flex;
}
.text-and-video{
  display: flex;
  flex-direction: column;
}

.text-video{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
line-height: 17px;
color: #656565;
}

.image-first-block{
  width: 130px;
  height: 73px;
}

.special-top-margin{
  margin-top: 30px;
}

.special-width-first{
  width: 445px;
}

.special-height-first{
  height: 570px;
}

